---

---

<search-filters name="size">
    <label>
        <input type="checkbox" value="small" id="small" name="size" />Small
    </label>
    <label>
    <input type="checkbox" value="large" id="large" name="large" />Large
    </label>
</search-filters>

<search-filters name="type">
    <label>
        <input type="checkbox" value="small" id="small" name="size" />Small
    </label>
    <label>
        <input type="checkbox" value="large" id="large" name="large" />Large
    </label>
</search-filters>

<script>
    import {SearchFilters} from 'web-components';
    SearchFilters.register('search-filters');
</script>