---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import { getCollection, getEntry } from 'astro:content';
const allBlogPosts = await getCollection('web-components');
console.log(allBlogPosts);

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<h1>Custom Web Components</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
	</main>
	<search-filters name="size">
		<label>
			<input type="checkbox" value="small" id="small" name="size" />Small
		</label>
		<label>
		<input type="checkbox" value="large" id="large" name="large" />Large
		</label>
	</search-filters>
	<search-filters name="type">
		<label>
			<input type="checkbox" value="red" id="small" name="size" />Red
		</label>
		<label>
		<input type="checkbox" value="blue" id="large" name="large" />Blue
		</label>
	</search-filters>
</Layout>

<script>
	import { SearchFilters } from 'web-components'
	SearchFilters.register('search-filters')
</script>
