---

---

<header class="container">
    <a href="/" aria-label="home page" class="logo">
        <img src="/images/logo.svg" alt="ID" width="100" height="100">
    </a>
    <div>
        <search>
            Search Here
        </search>
        <a>Github</a>
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    .logo {
        display: block;
        width: 60px;
    }

    search {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        margin-right: 1rem;
    }

    search input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    search input:focus {
        outline: none;
        border-color: #aaa;
    }

    search input::placeholder {
        color: #ccc;
    }

    search button {
        display: none;
    }

    @media (min-width: 768px) {
        search {
            width: auto;
        }

        search input {
            width: auto;
        }

        search button {
            display: inline-block;
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            color: #333;
            cursor: pointer;
        }

        search button:hover {
            border-color: #aaa;
        }
    }
</style>