---

---

<header class="container">
    <a href="/" aria-label="home page" class="logo">
        <img src="/images/logo.svg" alt="ID" width="100" height="100">
    </a>
    <div>
        <search-button-with-dialog>
            <button class="search-button">Search Here</button>
            <dialog><div>Search Dialog Here</div></dialog>
        </search-button-with-dialog>
        <a>Github</a>
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    .logo {
        display: block;
        width: 60px;
    }

    .search-button {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        margin-right: 1rem;
    }
    
</style>

<script>
    import {SearchButtonWithDialog} from "web-components";
    SearchButtonWithDialog.register('search-button-with-dialog');
</script>